.alert{
  min-height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: -1;
  .close{
    position: absolute;
    top: 5px;
    right: 10px;
  }
  &.show{
    z-index: 100;
  }
  //&.success{
  //  background: #9df89d;
  //}
}

