$btn-color: #1F1F1F;
$btn-text-color: #FFFFFF;
$main-bg-color: #FFFFFF;
$bar-bg-color: #FFFFFF;
$link-color: #59606D;
$link-hover-color: #323232;
$invalid-input-bg-color: #ffc4c4;
$invalid-input-border-color: #fa6464;
$invalid-text-color: #ff3e3e;
